<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game_res/70902800/head/girl_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{268,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,362}</string>
			</dict>
			<key>game_res/70902800/head/girl_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,362},{268,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,362}</string>
			</dict>
			<key>game_res/70902800/head/girl_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,724},{268,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,362}</string>
			</dict>
			<key>game_res/70902800/head/girl_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,0},{268,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,362}</string>
			</dict>
			<key>game_res/70902800/head/girl_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,362},{268,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,362}</string>
			</dict>
			<key>game_res/70902800/head/girl_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,724},{268,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,362}</string>
			</dict>
			<key>game_res/70902800/head/girl_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,0},{268,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,362}</string>
			</dict>
			<key>game_res/70902800/head/girl_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,362},{268,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,362}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistHead1.png</string>
			<key>realTextureFileName</key>
			<string>PlistHead1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>