<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game_res/70902800/scene/battery_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,192},{30,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,17}</string>
			</dict>
			<key>game_res/70902800/scene/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,107},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_1_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,107},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,107},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_2_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,107},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,107},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_3_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,192},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,283},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_4_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,411},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,539},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_5_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1},{194,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,78}</string>
			</dict>
			<key>game_res/70902800/scene/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,288},{165,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,67}</string>
			</dict>
			<key>game_res/70902800/scene/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,333},{119,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,61}</string>
			</dict>
			<key>game_res/70902800/scene/btn_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,455},{165,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,67}</string>
			</dict>
			<key>game_res/70902800/scene/btn_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,220},{165,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,67}</string>
			</dict>
			<key>game_res/70902800/scene/btn_expression.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,231},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>game_res/70902800/scene/btn_ranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,430},{63,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,66}</string>
			</dict>
			<key>game_res/70902800/scene/btn_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,333},{87,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,92}</string>
			</dict>
			<key>game_res/70902800/scene/btn_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,81},{78,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,41}</string>
			</dict>
			<key>game_res/70902800/scene/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,220},{165,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,67}</string>
			</dict>
			<key>game_res/70902800/scene/image_timer_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,81},{139,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,109}</string>
			</dict>
			<key>game_res/70902800/scene/pone.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,262},{23,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,20}</string>
			</dict>
			<key>game_res/70902800/scene/wifi.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,263},{23,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,20}</string>
			</dict>
			<key>game_res/70902800/scene/battery_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,224},{30,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,17}</string>
			</dict>
			<key>game_res/70902800/scene/battery_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,256},{30,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,17}</string>
			</dict>
			<key>game_res/70902800/scene/battery_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,231},{30,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,17}</string>
			</dict>
			<key>game_res/70902800/scene/image_timer_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1},{139,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,87}</string>
			</dict>
			<key>game_res/70902800/scene/image_timer_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,142},{139,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,109}</string>
			</dict>
			<key>game_res/70902800/scene/btn_1_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,289},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_2_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,220},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_3_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,220},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_4_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,274},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/btn_5_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,305},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>game_res/70902800/scene/image_timer_1_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,289},{139,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,87}</string>
			</dict>
			<key>game_res/70902800/scene/result_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{723,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>game_res/70902800/scene/boy.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,396},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>game_res/70902800/scene/girl.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,422},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>game_res/70902800/scene/wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,161},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,36}</string>
			</dict>
			<key>game_res/70902800/scene/notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,199},{30,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,33}</string>
			</dict>
			<key>game_res/70902800/scene/btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,107},{165,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,69}</string>
			</dict>
			<key>game_res/70902800/scene/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,417},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistScene.png</string>
			<key>realTextureFileName</key>
			<string>PlistScene.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>